<footer class="site-footer">
    <a href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
</footer>

{{ghost_foot}}