<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- DNS prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com" />

<link rel="shortcut icon" href="{{asset "/favicon.ico"}}" />

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo:400%2C700%2C400italic%2C700italic%7COrbitron:400%2C700" />
<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />


{{ghost_head}}