<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

<!-- DNS prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com" />

<link rel="shortcut icon" href="{{asset "/favicon.ico"}}" />

<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Orbitron:400,700' />

{{ghost_head}}