<!DOCTYPE html>
<html lang="en-ca">
<head>
    {{> head}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<header class="site-head">
    <h1 class="blog-title"><a href="/">{{@blog.title}}</a></h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>

{{navigation}}

{{! Content is imported from index.hbs}}
{{{body}}}

<footer class="site-footer">
    <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
</footer>

{{ghost_foot}}

</body>
</html>
