<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "/apple-touch-icon-76x76.png"}}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "/apple-touch-icon-120x120.png"}}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "/apple-touch-icon-152x152.png"}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<header class="site-head">
    <h1 class="blog-title"><a href="/">{{@blog.title}}</a></h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>

{{navigation}}

<main class="content" role="main">
    {{! Content is imported from index.hbs}}
    {{{body}}}
</main>

<footer class="site-footer">
    <a href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
</footer>

{{ghost_foot}}

</body>
</html>
